.profile {
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr 170px;
}

@media screen and (max-width: 950px) {
  .profile {
    margin: 0 27px 50px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin-bottom: 36px;
    max-width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    width: calc(100% - 36px);
    margin: 0 auto 36px;
  }
}
