.popup__form {
  margin: 0;
  padding: 0 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 430px;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  .popup__form {
    width: 282px;
    padding: 0 22px 25px;
  }
}
